@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MyPETScan</h1>

    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Booking</h2>
            <p>
                Booking PETScan
            </p>
            <img srcset="~/Images/pitcture1.jpg 320w, ~/Images/pitcture1.jpg 640w"
                 sizes="(max-width: 320px) 280px, 640px"
                 src="~/Images/pitcture1.jpg"
                 alt="Sample Booking Image" />


            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Booking &raquo;</a></p>

        </section>

        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Booking History</h2>
            <p>Check Your Booking History.</p>
            <img srcset="~/Images/picture2.jpg 320w, ~/Images/picture2.jpg 640w"
                 sizes="(max-width: 640px) 320px, 640px"
                 src="~/Images/picture2.jpg"
                 alt="Sample Booking Image" />


            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Check &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Location</h2>
            <p>You can easily find a Hosipital Location.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Location &raquo;</a></p>
        </section>

       

    </div>
</main>